<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1484542959923-de288ec85ce1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4fc364b7f676a708060858fc5592caee&auto=format&fit=crop&w=1051&q=80');">
      <div class="banner-content">
        <h1>Mister Cocktail</h1>
        <p>Get drunk and be happy</p>
      </div>
    </div>

<div class = "container">
<h2 class="text-center"> All our Cocktails </h2>
    <div class="container" id="home-cocktails">
      <h4 class="text-center">We have <%= @cocktails.length %> cocktails available</h4>
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="card">
              <div>
              <%= image_tag "cocktail#{rand(1..6)}.jpg", alt: "Cocktail", width: "265", class: "card-img" %>
              </div>
              <div class="card-content">
                <h4><%= link_to cocktail.name, cocktail %></h4>
              </div>
              <div class="card-actions">
                <%= link_to "More info", cocktail_path(cocktail) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <h2><%= link_to "Create a new cocktail", new_cocktail_path %></h2>
  </div>
</div>
