<%= cl_image_tag("thb8kjs8tdrathwfeouh", width: 1700, height: 500, crop: :fill, class: "banner")%>
<div id = "container_new">
<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name, label: false, placeholder: "Cocktail name" %>
  <%= f.submit "add cocktail", class: "btn btn-primary" %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
<% end %>
</div>
